
<div id="sports-index-container">
<h3>Select a Sport</h3>

  <div class="" id="sports-type-container">
  </div>

  <div id="sports-buttons-container">
  <% @uniq_sports.each do |sport| %>
    <%= form_for(:sport, url: "/sports/type", html: {class: "submit-sport-form"}) do |f| %>
      <%= f.hidden_field :category, value: sport["category"] %>
      <%= f.submit "", class: 'sport-button', id: sport["category"].gsub(" ","") + '-button'  %>
    <% end %>
  <% end %>
  </div>
</div>
