<h2>Sports Show</h2>

<div class="sport-title">
  <h2><%= @sport["category"] %></h2>
  <h2><%= @sport["name"] %></h2>
</div>

<h3>Rules of the Game</h3>

<!-- Stat PUT route. Change to active for particular sport -->
<div class="find-match-container">
<!-- DON'T FOREGT TO USE HELPER METHOD FOR USER ID -->
  <%= link_to("Find a match", user_stat_path(current_user.id, @stat["id"], active: "true"), method: :put, id: "find-match-link") %>
  <%= link_to("Cancel Search", user_stat_path(current_user.id, @stat["id"], active: "false"), method: :put, id: "cancel-search-link", class: "hidden") %>
</div>
