<h2>Sports Show</h2>

<div class="sport-title">
  <h2><%= @sport["category"] %></h2>
  <h2><%= @sport["name"] %></h2>
</div>

<h3>Rules of the Game</h3>

<!-- Stat PUT route. Change to active for particular sport -->

