<div id="index-map"></div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['BLAH']%>&callback=initMap">
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
