
<div id="login-page-container">
  <div class="container-fluid">
    <div class="login">
      <%= render 'sessions/login' %>
    </div>
</div>
<script>
  $( "#tabs" ).tabs({collapsible: true});
</script>
