<div id="matches-in-area-container">
  <h4 class="matches-header"> Current Matches In Your Area: </h4>
  <div id="tabs" class='debug'>
    <ul>
      <% @sports.each_with_index do |sport,index| %>
        <% if index < 4 %>
          <li>
            <a href="#fragment-<%= index %>"><%= sport['category'] %> <%= sport['name'] %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= render partial: 'index_map', locals: {locations: @tennis_singles, blah:@BLAH} %>
  </div>
</div>
