// Color Palette
// #ff5714 orange
// #66c3ff light blue
// #dce1e9 off white
// #0f4c5c dark blue teal
// #2e7689 grey teal

header {
  width: 100%;
  background-color: #0f4c5c;
  display: flex;
  justify-content: space-between;
  padding: .2em;
  border-bottom: 8px solid #ff5714;
}

header h1 {
  margin: 0;
}

.side1 {
  margin-left: 2%;
}

.side2 {
  margin-left: 7%;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
  margin-left: 0%;
  margin-right: 2%;
}

header a, header a:visited{
  color: #fff;
}

.header-left{
  width: 32%;
}

.header-middle{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  width: 32%;
}

.header-right{
  width: 32%;
  color: #fff;
  font-size: .9em;
  text-align: right;
}

.debug {
  border: 1px solid red;
}
