@import 'palette';


.index-login{
  max-width: 20%;
  display: inline-block;

}

#matches-in-area-container {
}

#matches-in-area-container h4{
  color: #dce1e9;
}

#tabs{
  max-width: 60%;

  margin: 0px auto;

}

#index-map{
  height: 80%;
  margin: 10px;
  padding: 0;
  opacity: 1 !important;
}
