@import 'palette';

.index-login{
  max-width: 20%;
  display: inline-block;
}

#matches-in-area-container {
  padding: 20px;
}

#matches-in-area-container h4{
  text-align: center;
  color: #dce1e9;
}

#tabs{
  max-width: 60%;
  max-height: 80%;
  margin: 0px auto;

}

#index-map{
  height: 80%;
  margin: 10px;
  border-radius: 35px;
  margin-top: 50px;
  opacity: 1 !important;
}
