@import 'palette';

.index-login{
  max-width: 20%;
  display: inline-block;
}

#matches-in-area-container {
  padding: 20px;
}

#matches-in-area-container h4{
  text-align: center;
  color: $color3;
}

#tabs{
  opacity: .3;
  max-width: 60%;
  max-height: 80%;
  margin: 20px auto;
  border-radius: 45px 45px 35px 35px;

  .ui-tabs-tab{
    background: $color1;
    font-size: 16px;
    margin-left: 20px;
  }
  .ui-widget-header{
    opacity: .1;
    max-width: 99%;
    .ui-tabs-anchor{
    opacity: .9;
    color: $color3;
    }
  }
  .ui-corner-all{
    opacity: .7;
    border-radius: 45px 45px 0px 0px;
    background: $color2;
  }

}

#index-map{
  height: 95%;
  border-radius: 0px 0px 35px 35px;
  margin-top: 0px;
  opacity: 1 !important;
}
