@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.fa {
  margin-right: 2px;
  color: #ff5714;
}

.fa-envelope {
  color: #0f4c5c;
}

.fa-lock {
  color: #0f4c5c;
  padding: 2px;
}

#login-form {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #fff;
  padding: 2em;
  padding-top: 1em;
  opacity: 0.85;
  font-size: 1.7em;
}

#login-page-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 20%,rgba(0,0,0,0.5) 70%), url(https://static.pexels.com/photos/29578/pexels-photo.jpg);
  background-size:cover;
  z-index: -1;
}

#login-register {
  display: flex;
  align-items: baseline;
}

#login-register a {
  margin-left: 6px;
}

.btn-primary {
  width: 40%;
  border: 1px solid white;
}

.btn-default {
  margin-top: 3px;
  opacity: 0.9;
  background-color: #dce1e9;
  color: black;
  border-radius: 5px;
  margin-right: 3px;
}

.btn-default:hover {
  background-color: #ff5714;
  color: white;
}

.card {
  background-color: #0f4c5c !important;
  border-radius: 15px !important;
  border: 2px solid #ff5714 !important;
  opacity: .85 !important;
  max-width: 350px !important;
}

.debug {
  border:1px solid red;
}
