// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#matches-index-container {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(http://atxsportsphotos.com/assets_d/54976/web_media/3ds_grass_texture241_173.jpg);
  background-size:cover;
  z-index: -1;
  color: #dce1e9;
  text-align: center;
}

#matches-in-area-container{
  width: 100%;
  height: 100%;
}

.ui-tabs-tab{
  font-size: 10px;
  opacity: 1;
}

#tabs{
  opacity: .9;
  width: 100%;
  height: 100%;
}

// text inside the area

.ui-corner-bottom{
  background-color: "green";
  opacity: .9;
}

#home-team-container {
  float: left;
}

#away-team-container {
  float: right;
}

.team{
  background-color: 'blue';
}


#match-show-page-container {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(http://atxsportsphotos.com/assets_d/54976/web_media/3ds_grass_texture241_173.jpg);
  background-size:cover;
  z-index: -1;
  color: #dce1e9;
}

#match-show-page-container h2{
  margin: 20px;
}
.match-show-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 15px;
  font-size: 1.5em;
}

.home-team-container {
  max-height: 60%;
  width: 32%;
  margin: 10px;
  padding: 50px;

}
.score-container {
  padding: 10px;
  width: 32%;
}
.away-team-container {
  padding: 10px;
  width: 32%;
}

#all-matches-container {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

}

#all-matches-container img {
  width: .9em;
  height: .9em;
  margin-right: 3px;
}

.match-details-container {
  margin-bottom: 3%;
}

.details-container {
  margin-left: 1%;
}
#score_1{
  width: 100px;

}
.profile {
  background-color: #ff5714;
  color: #fff;
  font-size: .9em;
  border-radius: 5px;
  padding: 1px;
  padding-right: 3px;
  padding-left: 3px
}
