// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#matches-index-container {
  height: 100vh !important;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.6) 80%), url(http://atxsportsphotos.com/assets_d/54976/web_media/3ds_grass_texture241_173.jpg);
  background-size:cover;
  z-index: -1;
  color: #dce1e9;
  text-align: center;
}

#matches-index-container h4 {
  color:#dce1e9;
  border: 2px solid #ff5714;
  background-color: #0f4c5c;
  border-radius: 6px;
  width: 50%;
  padding: 1%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:1%;
  margin-bottom:1%;
}

#all-match h2{
  color: rgba(220, 225, 233, 1);
}

#matches-in-area-container{
  width: 100%;
  height: 100%;
}

.ui-tabs-tab{
  font-size: 10px;
  opacity: 1;
}

#tabs{
  opacity: .9;
  width: 100%;
  height: 100%;
}

// text inside the area

.ui-corner-bottom{
  background-color: "green";
  opacity: .9;
}

#match-show-page-container {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(http://atxsportsphotos.com/assets_d/54976/web_media/3ds_grass_texture241_173.jpg);
  background-size:cover;
  z-index: -1;
  color: white;
  align-items: center;
  padding-top: 1%;
}

.match-show-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 2.5em;
    padding: 1%;
  }
}

.home-team-container {
  max-height: 60%;
  width: 32%;
  margin: 10px;
  padding: 50px;

}
.score-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.away-team-container {
  padding: 10px;
  width: 32%;
}

#home-team-container {
  position: relative;
}

#away-team-container {
  position: relative;
}

.team{
  // padding-right: 15px;
}

.team-container {
  margin-left: 6%;
  margin-right: 6%;
  li {
    padding-top: 3px;
  }
}

#vs-container {
  vertical-align: middle;
}

#all-matches-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: top;
  align-items: top;
  -webkit-justify-content: space-between;;
  justify-content: space-between;;
  font-size: 1.5em;
.match-details-container {
    margin-bottom: 0;
  }
}

.matches-matches-container {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  width: 45%;
  border: 4px solid rgba(255, 87, 20, .5);
  border-radius: 30px;
  background-color: rgba(15, 76, 92, .5);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 1%;
}

#matches-padding {
  padding: 2%;
}

#match-show-page-container h4, h2 {
  text-align: center;
}

#all-matches-container img {
  width: .9em;
  height: .9em;
  margin-right: 3px;
}

.details-container {
  margin-left: 1%;
}
#score_1{
  width: 100px;

}
.profile {
  background-color: #ff5714;
  color: #fff;
  font-size: .9em;
  border-radius: 5px;
  padding: 1px;
  padding-right: 3px;
  padding-left: 3px
}
