// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#matches-in-area-container{
  width: 100%;
  height: 100%;
}

.ui-tabs-tab{
  font-size: 10px;
  opacity: 1;
}

#tabs{
  opacity: .9;
  width: 100%;
  height: 100%;
}

// text inside the area

.ui-corner-bottom{
  background-color: "green";
  opacity: .9;
}

#home-team-container {
  float: left;
}

#away-team-container {
  float: right;
}

.team{
  background-color: 'blue';
}

.matches-index-container {
  margin-left: 2%;
  margin-top: 1%;
}
