/* Coolors Exported Palette - coolors.co/2e7689-66c3ff-dce1e9-0f4c5c-ff5714 */

/* HSL */
$color1: hsla(193%, 50%, 36%, 1);
$color2: hsla(204%, 100%, 70%, 1);
$color3: hsla(217%, 23%, 89%, 1);
$color4: hsla(192%, 72%, 21%, 1);
$color5: hsla(17%, 100%, 54%, 1);

/* RGB */
$color1: rgba(46, 118, 137, 1);
$color2: rgba(102, 195, 255, 1);
$color3: rgba(220, 225, 233, 1);
$color4: rgba(15, 76, 92, 1);
$color5: rgba(255, 87, 20, 1);