// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// For the cancel search link

// Color Palette
// #ff5714 orange
// #66c3ff light blue
// #dce1e9 off white
// #0f4c5c dark blue teal
// #2e7689 grey teal

.hidden {
  display: none
}

#sports-index-container {
  // margin-top: -71px;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://static.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg);
  background-size:cover;
  z-index: -1;
  color: #dce1e9;
}

h3 {
text-align: center;
padding: 5px;
}

#sports-buttons-container, #sports-type-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
  align-items: center;
}

.submit-sport-form {
  min-width: 200px;
  min-height: 200px;
}

.sport-button {
  // display: inline-block;
  // background-color: #0f4c5c;
  color: white;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1%;
  margin-top: 65px;
  position: relative;
  min-width: 200px;
  min-height: 200px;
}

.sport-button:hover {
  background-color: #0f4c5c;
  transform: scale(1.04);
}

.sport-button:active {
  background-color: #ff5714;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#Tennis-button {
  background-image: url("sport_icons/tennis-ball.svg");
}

#Soccer-button {
  background-image: url("sport_icons/soccer.svg")
}

#Badminton-button {
  background-image: url("sport_icons/badminton.svg")
}

#TableTennis-button {
  background-image: url("sport_icons/ping-pong.svg")
}
