// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  background-color: #1a8cff;
  color: #fff;
  font-size: .9em;
  border-radius: 5px;
  padding: 1.8px;
}
