// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-show-container {
  margin-left: 15px;
}

.profile {
  background-color: #ff5714;
  color: #fff;
  font-size: .9em;
  border-radius: 5px;
  padding: 1px;
  padding-right: 3px;
  padding-left: 3px
}
