<div class="header-left">
  <%= image_tag ("logo2.png")%>
  <!-- <a href="https://devbootcamp.com/">DBC</a> -->
</div>

<div class="header-middle">
  <%= link_to 'GO TEAM!', "/" %>
</div>

<div class="header-right">
    <%= render 'layouts/login' %>
</div>
