<div class="header-left">
  <a href="https://devbootcamp.com/">DBC</a>
</div>

<div class="header-middle">
  <%= link_to 'GO TEAM!', "/" %>
</div>

<div class="header-right">
    <%= render 'layouts/login' %>
</div>
