<div class="header-left">
  <a href="https://devbootcamp.com/">DBC</a>
</div>

<div class="header-middle">
  <%= link_to 'GO TEAM!', "/" %>
</div>

<div class="header-right">
  <% if logged_in? %>
    <%= render 'layouts/login' %>
  <% end %>
</div>
