<div class="login-header">
  <% if logged_in %>
    <%= link_to 'Go Home', '/' %> |
    <%= link_to 'User Profile', '/users/1' %> |
    <%= link_to 'Logout', session_path(session['id']), method: :delete%>
  <% end %>
</div>
