<div class="login-header">
  <% if logged_in %>
    <%= link_to 'Go Home', '/' %> |
    <%= link_to 'User Profile', user_path(session['id']) %> |
    <%= link_to 'Logout', session_path(session['id']), method: :delete%>
  <% end %>
</div>
